# Rust build artifacts
rustlib/target/
rustlib/Cargo.lock

# Python venv and build artifacts
python-backend/.venv/
python-backend/__pyo3_build__/
python-backend/gemini_api_key.py

# Electron build and dependencies
electron-ui/node_modules/
electron-ui/dist/

Screenshot_2025-04-03_09_25_56.png

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Linux
*~

# Vim
*.swp
*.swo

# Emacs
*~
\#*\#

# VS Code
.vscode/


# Added by cargo

/target
